* {
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

html {
    scroll-behavior: smooth; /* Enables smooth scrolling */
}


body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #343a40;
    color: #fff;
    padding: 10px;
    position: sticky; /* Make the header sticky */
    top: 0; /* Stick to the top */
    z-index: 1000; /* Ensure it appears above other content */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional: Add a shadow for depth */
}

h1 {
    margin: 0;
    animation: fadeIn 1s;
}

nav {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin: 0 15px;
}

.navbar-item-last {
    margin-right: 50px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s, text-shadow 0.3s;
}

nav ul li a:hover {
    color: #007bff;
    text-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

h2 {
    color: #343a40;
    margin-top: 20px;
    animation: slideIn 0.5s;
}

ul, ol {
    margin: 20px 0;
    padding-left: 20px;
}

.content-container {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.sidebar {
    flex: 1;
    margin-right: 20px;
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.main-content {
    flex: 3;
}

section {
    margin: 20px 0;
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s;
}

pre {
    background: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

footer {
    text-align: center;
    padding: 10px;
    background: #343a40;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateX(-20px); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

/* Responsive Styles */
@media (max-width: 768px) {
    .content-container {
        flex-direction: column;
    }

    .sidebar {
        margin-right: 0;
        margin-bottom: 20px;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
    }

    nav ul li {
        margin: 5px 0;
    }

    nav ul li a {
        padding: 10px;
        width: 100%;
        text-align: center;
        border-radius: 5px;
        background: #495057;
    }

    nav ul li a:hover {
        background: #007bff;
    }
}
